<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.jgranier.pkarea" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <hook src="hooks/hookers.js" type="before_prepare" />
    <hook src="hooks/beforedep.js" type="before_deploy" />
    <name>PkArea</name>
    <description>
        Application PkArea par Julien Granier
    </description>
    <author href="https://github.com/ReinargJ">
        Julien Granier
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <allow-navigation href="*" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-sqlite-storage" spec="^2.3.0" />
    <engine name="browser" spec="^5.0.3" />
    <engine name="android" spec="^7.1.0" />
</widget>
